@include mui-series {
  .research {
    @include mui-queue(.3s, 0s, slide($direction: up, $amount: 15%), fade);
  }

  // A 2s pause will happen after this animation ends
  .ui {
    @include mui-queue(.3s, .07s, slide($direction: up, $amount: 15%), fade);
  }

  // It works with multiple effects, too!
  .ux {
    @include mui-queue(.3s, .07s, slide($direction: up, $amount: 15%), fade);
  }

  .fed {
    @include mui-queue(.3s, .07s, slide($direction: up, $amount: 15%), fade);
  }
}

@include mui-series {
  .equinox {
    @include mui-queue(.25s, 0s, slide($direction: up, $amount: 15%), fade);
  }

  .solstice {
    @include mui-queue(.25s, .07s, slide($direction: up, $amount: 15%), fade);
  }

  .swelter {
    @include mui-queue(.25s, .1s, slide($direction: up, $amount: 15%), fade);
  }
}

section {
  margin-top: 4rem;

  &.round-image img {
    border-radius: 50%;
  }
}


[type='text'], [type='password'], [type='date'], [type='datetime'],
[type='datetime-local'], [type='month'], [type='week'], [type='email'],
[type='number'], [type='search'], [type='tel'], [type='time'], [type='url'],
[type='color'], textarea {
  border-top: 0px solid $medium-gray !important;
  border-left: 0px solid $medium-gray !important;
  border-bottom: 1px solid $medium-gray;
  border-right: 0px solid $medium-gray !important;
}

input:focus {
  border-bottom: 1px solid #08B49F !important;
}

/* Helpers */
.twentytwenty-overlay {
  display: none;
}

.container {
  background-color: #ccc;
  width: 100vw;
}

.fixed {
  left: 0;
  position: fixed;
  top: 0;
}
/* End Helpers */




/* Highest level shit */
body{
  color:#323232;
  overflow-x: hidden;
}

#hero {
  width: 100%;
  height: calc(100vh - 70px);
  max-height: 1000px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: calc(100% - 70px);
    width: 100%;

    z-index: 30;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    // background-color: rgba(0, 180, 160, .3);

    h3 {
      text-align: center;
      color: #fff;
    }

    img {
      width: 100%;
      max-width: 800px;
    }
  }
}

#hero-slider {
  height: calc(100vh - 70px) !important;
  width: 100%;

  img, video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.twentytwenty-handle, .twentytwenty-handle::before, .twentytwenty-handle::after {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.twentytwenty-handle {
  top: calc(50% + 140px);
  z-index: 50;
  background-color: #8cd211;
}

.twentytwenty-container {
  z-index: initial;
}

.nav {
  background-color: #fff;
  border-bottom: 1px solid #DFE9E9;
  overflow: hidden;
  padding: .7rem 0;
  width: 100%;
  z-index: 10;
}

.about {

  h2 {
    margin: 2rem 0;
  }

  p {
    margin: 1rem 0 5rem 0;
  }
}

.selling-points {
  background-color: #F7F8F9;
  h3 {
    margin: 5rem 0 2rem 0;
  }
  img{
    padding-top: 5rem;
  }
}
nav {
  background: none;
  border-bottom: 1px solid #DFE9E9;
}
.top-bar-left, .top-bar-right {
  width: auto !important;
}

.top-bar-left li{
  font-size: 1.2rem;
}
.menu-text{
  font-weight: normal;
}
.top-bar-right li a{
  color: #323232;
}
.top-bar-right li a.active{
  color: #5AA700;
  font-weight: bold;
}
#about h2{
  color: #5AA700;
}
#eq h3{
  color: #00B4A0;
}
.relationship h3{
  color: #018571;
}
.dowork h3{
  color: #006C5D;
}
.overview h3{
  color: #006C5D;
}
.form h3{
  color: #41D6C3;
}
.alums {
  color: #003C32;
}
#work{
  background-color: #f1f3f4;
  padding-bottom: 3rem;
}

.form {
  background-color: #454D56;
  color: $white;
  margin-top: 0;
  padding: 6rem 0;
}
.discipline {
  margin-top: 3rem;
}

.role-names {
  cursor: pointer;
  transition: all .2s ease;
}

.active-role {
  //border: 3px solid #00B4A0;
  box-shadow: inset 0 0 0 3px #00B4A0;
}

.role-names{
  padding: 1rem 0;
}
.footer {
  color: $dark-gray;
  background-color: $light-gray;
  padding: 1rem 0 1rem;
  text-align: center;

  .made-by {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  img {
    position: relative;
    top: -6px;
    width: 24px;
    margin-left: 4px;
  }

  .social-links, .text-links {
    display: flex;
    justify-content: space-between;
  }

  .text-links {
    a {
      color: $dark-gray;

      &:hover {
        border-bottom: 2px solid $dark-gray;
      }
    }
  }

  .social-links {
    .social-link {
      display: inline-block;
    }

    .accessibility-label {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      display: none;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    .icon-bg-color {
      fill: $dark-gray;
    }

    .icon-color {
      fill: $white;
    }
  }
}
/* End highest level shit */

/* Interior styles */
.roles {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: $white;
  > div {
    // opacity:0;
  }
}

.role {
  height: 100px;
  width: 100px;
}

.research {
  transition-delay: 0s;
}

.ui {
  // transition-delay: .3s;
}

.ux {
  // transition-delay: .6s;
}

.fed {
  // transition-delay: .9s;
}

.roles :not(p) {
  text-align: center;
}
.apply-btn {
  margin-top: 3rem;
}
.name-input{
  margin-top: 2rem;
}

.other {
  border-radius: 0%;
}


.sessions {
  margin-top: 2.5rem;
  text-align: center;

  img {
    height: 4rem;
    width: 4rem;
  }
}

h5.equ{
  color: #FF7832;
}

h5.sol{
  color: #4178BE;
}
h5.swe{
  color: #8C7300;
}
.city-skyline {
  margin-top:1.5rem;
}
.city-skyline .location{
  margin-right:.5rem;
  width: rem-calc(36);
}

.city-skyline h5{
  color: #018571;

}
section.round-image img{
  border-radius: 0;
}

.dowork {
  padding-bottom: 6rem;
}

#band{
  padding: 4rem 0;
  background-color:#8cd211;
  margin-top: 0;

}
#band h4{
  padding-bottom: 2rem;
  color: #003C32;
}

.overview{
  margin-top: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #F1F3F4;
}
.overview h5{
  margin-top: rem-calc(12);
}
.button.hollow{
  color: #003C32;
  border: 2px solid #006c5d;
}

.intro {
  margin-top: 4rem;
}

.program-details {
  margin-top: 3rem;

  div:first-child {
    padding-top: 2.6rem;
  }
}

.the-form {
  padding: 20rem 0;
}

.apply-btn a.button{
  background-color: #5AA700;
}

.alums {
  .slider {
    margin: 0;
    background: none;

    &.top {
      margin-bottom: 3px;
    }
  }

  h3 {
    margin-bottom: 6rem;
    padding-top: 2rem;
  }

  img {
    width: 100%;
  }

  header {
    position: static;
    margin-bottom: 30px;
  }

  ul {
    width: 100%;
  }
}

button.shuffle {
  margin-top: 2rem;
}
/* End Interior styles */

/* media queries */
@include breakpoint(small down) {
  .twentytwenty-handle {
    display: none;
  }

  #hero-slider {
    img {
      clip: initial !important;
    }

    video {
      display: none;
    }
  }
}
