section {
  margin-top: 4rem;

  img {
    border-radius: 50%;
  }
}

/* Helpers */
.container {
  background-color: #ccc;
  width: 100vw;
}
/* End Helpers */


/* Highest level shit */

.hero {
  width: 100%;

  img {
    height: 40vmax;
    width: 100%;
  }
}

.nav {
  background-color: #eee;
  overflow: hidden;
  padding: 1rem 0;
}

.about {

  h2 {
    margin: 2rem 0;
  }

  p {
    margin: 1rem 0 5rem 0;
  }
}

.selling-points {
  h3 {
    margin: 2rem 0;
  }
}

.overview {
  background-color: #ddd;
  padding: 3rem 0;
}

.form {
  text-align: center;
}

.footer {
  color: white;
  padding: 8rem 0;
  text-align: center;
}
/* End highest level shit */

/* Interior styles */
.roles {
  margin-top: 3rem;
}

.roles :not(p) {
  text-align: center;
}

.other {
  border-radius: 0%;
}


.sessions {
  margin-top: 6rem;
  text-align: center;
}

.intro {
  margin-top: 4rem;
}

.program-details {
  margin-top: 3rem;

  div:first-child {
    padding-top: 2.6rem;
  }
}

.the-form {
  padding: 20rem 0;
}
/* End Interior styles */
